.DS_Store
.idea
.vscode
/var/*
!/var/labels
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/config/system/settings.php
!/config/system/additional.php
*.gz
*.cache
db.sql
db.sql.gz
sync.sh
