#page-footer {
  background: $gray-900;
  height: 9rem;
  .footer-section {
    .footer-menu-section {
      display: grid;
      place-content: center;
      .footer-contact {
        address {
          display: flex;
          flex-direction: column;
            align-items: center;
            justify-content: Center;
          a {
            .footer-logo {
              width: 300px;
              height: auto;
              @media (max-width: 998px) {
                width: 250px;
                height: auto;
              }
              filter: drop-shadow(0 0 0 transparent);
              scale: 1;
              transition: filter 0.4s ease-in-out, scale 0.2s linear;
              &:hover {
                scale: 1.1;

                filter: drop-shadow(0 0 10px $primary-light);
                transition: filter 0.4s ease-in-out, scale 0.2s linear;
              }
            }
          }
        }
      }
    }
    .footer-info-section {
      display: none;
    }
  }
}